<include href="{{ @templates . 'header.html' }}" />
<div class="categories_grid">
    <div id="main_row" class="row"  style="margin-top:2%;">
        <repeat group="{{ @all_contacts }}" value="@contact">
                <div class="list_item {{@contact.name}}_tile col-md-3">
                    <h5>{{@contact.name}}</h5>
                </div>
        </repeat>
    </div>
    <div class="row pages_row">
        <loop from="{{ @i=0 }}" to="{{ @i < ceil(@contact_count[0]['FOUND_ROWS()']/10) }}" step="{{ @i++ }}">
                <a href="./{{@i+1}}">
                    <div class="page_indicator">{{@i+1}}</div>
                </a>
        </loop>
    </div>
</div>
<include href="{{ @templates . 'footer.html' }}" />
