<check if="{{ @GET.message_type==duplicate }}">
    <include href="{{ @templates . 'ModalAlert.html' }}" />
</check>
<check if="{{ @form_type=='contact' }}">
    <true>
        <div class="form-container">
            <form class="company_data_form" action="new_contact/create" method="post">
                <div class="row">
                    <div class="col-md-6" style="padding:0; ">
                        <label for="company_name">Company name</label><br>
                        <input type="text" name="company_name" value=""><br>
                        <label for="company_website">Company website</label><br>
                        <input type="text" name="company_website" value=""><br>
                        <label for="company_facebook">Company facebook</label><br>
                        <input type="text" name="company_facebook" value=""><br>
                        <label for="company_email">Company email</label><br>
                        <input type="text" name="company_email" value=""><br>
                        <label for="company_phone">Company phone</label><br>
                        <input type="text" name="company_phone" value=""><br>
                    </div>
                    <div class="col-md-6" style="padding:0;">
                        <label for="company_additional">Company additional</label><br>
                        <textarea name="company_additional" cols="27" rows="10" value=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding:0;"><br>
                        <button type="submit" class='btn btn-success submit-button' name="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </true>
    <false>
        <div class="form-container">
            <form class="category_form" action="./new_category/create" method="post">
                <div class="row">
                    <label for="category_name">Category name</label>
                    <input type="text" name="company_name" value="">
                </div>
                <div class="row">
                    <label for="company_icon">Category icon</label>
                    <input type="text" name="company_icon" value="" placeholder="e.g: fa-camera">
                </div>
                <div class="row">
                    <button type="submit" class='btn btn-success' name="button">Submit</button>
                </div>
            </form>
        </div>
        <div class="icon-chooser">
          placeholder list icons
        </div>
    </false>
</check>
