<include href="{{ @templates . 'header.html' }}" />
<check if="{{ @GET.message_type==deleted }}">
    <include href="{{ @templates . 'ModalAlert.html' }}" />
</check>

<div class="categories_grid">
    <div id="main_row" class="row">
        <a href="./{{@PARAMS.category_id}}/new_contact">
            <div class="col-md-3 tile create_new">
                <h3>New contact</h3>
            </div>
        </a>
        <repeat group="{{ @all_contacts }}" value="@contact">
            <a href="./{{@contact.category_id}}/contact/{{@contact.id}}">
                <div class="tile {{@contact.name}}_tile col-md-3">
                    <h3>{{@contact.name}}</h3>
                </div>
            </a>
        </repeat>
    </div>
</div>
<include href="{{ @templates . 'footer.html' }}" />
