<include href="{{ @templates . 'header.html' }}" />
<check if="{{ @GET.message_type==deleted || @GET.message_type==created}}">
    <include href="{{ @templates . 'ModalAlert.html' }}" />
</check>

<div class="categories_grid">
    <div id="main_row" class="row" style="margin-top:2%;">
        <a href="../../{{@PARAMS.category_id}}/new_contact">
            <div class="col-md-3 list_item create_new">
                <h4>New contact</h4>
            </div>
        </a>
        <repeat group="{{ @all_contacts }}" value="@contact">
            <div class="list_item col-md-3" onclick="expandList(this)">
                <div class="col-md-10">
                    <h5>{{@contact.name}}</h5>
                    <p class="details">
                      f: {{@contact.facebook}}<br>
                      p: {{@contact.webpage}}
                    </p>
                </div>
                <div class="col-md-2">
                    <a href="../../{{@contact.category_id}}/contact/{{@contact.id}}" class='edit_btn'>
                      <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </repeat>
    </div>
    <div class="row pages_row">
        <loop from="{{ @i=0 }}" to="{{ @i < ceil(@contact_count[0]['FOUND_ROWS()']/10) }}" step="{{ @i++ }}">
            <a href="./{{@i+1}}">
                <div class="page_indicator">{{@i+1}}</div>
            </a>
        </loop>
    </div>
</div>
<include href="{{ @templates . 'footer.html' }}" />
