<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
    <link href="{{@app_root}}css/style.min.css" rel="stylesheet">
    <link href="{{@app_root}}css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">WHOOPS</h1>
                <h3 class="text-center">Something went wrong with authorization process</h3>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">Or you just are tryin' to breach our security... if that's the case: get outta here, you're not getting anything.</h4>
            </div>
            <div class="col-md-12">
              <img src="{{@app_root}}css/penguin.png" style="margin:0 auto; width:20%; margin-top:100px;" class="img-responsive" alt="">
            </div>


        </div>
    </div>

    <include href="{{ @templates . 'footer.html' }}" />
